[submodule "circomlib"]
	path = circomlib
	url = git@github.com:iden3/circomlib.git
[submodule "circuits"]
	path = circuits
	url = git@github.com:iden3/circuits.git
[submodule "test_deps/iden3-circuits-authV2"]
	path = test_deps/iden3-circuits-authV2
	url = git@github.com:iden3/circuits.git
